<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Im in the AppComponent</h3>
			<input type="text" [(ngModel)]="name">
			<p>{{ name }}</p>
			<fa-another></fa-another>
			<fa-other></fa-other>
			<app-servers></app-servers>
			<app-warning-alert></app-warning-alert>
		</div>
	</div>
</div>	
	
